
services:
  app_rrhh:
    image: apijj:1.0
    container_name: app_rrhh
    ports:
      - 3000:3000
    build: .
    command: npm run dev
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: password
      DB_NAME: rrhh-db=value
      PORT : 3000
      NODE_ENV : development
    depends_on:
      - db
  db:
    image: postgres
    container_name: rrhh_postgres
    ports: 
    - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rrhh-db
    volumes:
      - pg-data:/var/lib/postgresql

volumes:
  pg-data:
    driver: local
    